<template name="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#linkTo route='home' class='navbar-brand'}}Leitwarte{{/linkTo}}
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {{#if currentUser}}
        <ul class="nav navbar-nav">
          <li class="{{isActiveRoute 'deployment'}}"> {{#linkTo route="deployment"}}Deployment{{/linkTo}}</li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inventory <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="{{isActiveRoute 'hosts'}}"> {{#linkTo route="hosts"}}Hosts{{/linkTo}}</li>
              <li class="{{isActiveRoute 'apps'}}"> {{#linkTo route="apps"}}Apps{{/linkTo}}</li>
            </ul>
          </li>
        </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>