<template name="hostsOverview">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Hostname</th>
        <th>IP</th>
    {{#if routeIs 'hosts'}}<th>Last seen</th>{{/if}}
        <th>Status</th>
    {{#if routeIs 'hosts'}}<th>Action</th>{{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each hosts}}
      <tr>
        <td>{{hostname}}</td>
        <td>{{ip}}</td>
          {{#if routeIs 'hosts'}} <td>{{formatTime lastSeen}}</td>{{/if}}
        <td>
            <span class="label {{label status}}" data-toggle="tooltip" data-placement="right" title="{{latency}} ms" data-original-title="Tooltip on right">{{status}}</span>
        </td>
              {{#if routeIs 'hosts'}}<td>
            {{#afModal class="btn btn-default btn-xs" collection="HostsCollection" fields="hostname,ip" operation="update" doc=_id}}
                Edit
            {{/afModal}}
            {{#afModal class="btn btn-danger btn-xs" collection="HostsCollection" operation="remove" doc=_id }}
                Delete
            {{/afModal}}
        </td>
              {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>